/* GGC Colors:
https://www.ggc.edu/community/brand-management/graphic-standards-guide/colors/
*/

:root {
    
/*    Universal*/
    --azure-blue: #0080FF;
        
/*    Georgia Colleges and Universities*/

/*    Georgia Gwinnett College*/
	--grizzly-green: #00704A;
    
/*    Georgia State University*/
    --panther-blue: #0039A6;
    
/*    Georgia Tech*/
    --buzz-gold: #EAAA00;
    
/*    University of Georgia*/
    --bulldog-red: #BA0C2F;
    
    
}

html, body {
	height: 100%;
}
body {
	background: #fafafa;
	color: #333;
	padding-top: 0.1px; /* Prevent collapsing margin */
}
main {
	margin-top: 58px;
	height: calc(100% - 57.9px);
	overflow-x: auto;
}

#rs-nav {
	
	background-color: var(--azure-blue);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
#rs-nav .navbar-nav .nav-link {
	color: #cbd5db;
}
#rs-nav .navbar-nav .nav-link:hover {
	color: White;
}
#rs-nav .navbar-nav .nav-link.active {
	font-weight: 500;
	color: White;
}
#rs-nav button.navbar-toggler:focus, nav button.navbar-toggler:active {
	outline: none !important;
	box-shadow: none;
}

.rs-container {
	background: White;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
	
	background-color: var(--azure-blue);
	border-color: var(--azure-blue);
    
}
.btn-primary:hover {
	background-color: ##003465;
	border-color: ##003465;
}

.pointer:hover {
	cursor: pointer;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
