/******************************** Courses Card ********************************/

.courses-card {
	overflow-x: auto;
	margin-bottom: 1rem;
}

.courses-card > .card-header {
	display: flex;
	justify-content: space-between;

	border-bottom: 0;
	font-size: 1.3rem;
	font-weight: 500;
}

/* The following is for classes with a long name on a tablet-like screen eg

ACCT    Special Topics in Business:    1 Credit 
4700           Employment Law              Hour
*/
.courses-card > .card-header div:nth-child(2) {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	text-align: center;
}
.courses-card > .card-header div:last-child {
	text-align: right;
}

.courses-card > .card-header, .courses-card > .card-footer {
	background-color: #F5F5F5;
}

.courses-card > table {
	margin-bottom: 0;
}

.courses-card > table > thead > tr > th {
	border: 0px !important;
	background-color: #F5F5F5;
}

.limit-four tr:nth-child(n+5) {
	display: none;
}

@media (max-width: 600px) {
	thead {
		display: none;
	}

	td {
		display: block;
		padding: 0.2rem 0.6rem !important;
	}
	td:not(:first-child) {
		border: 0;
	}

	.card-header{
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 601px) {
	/* the * covers th (in thead) and td (in tbody) */
	tr > *:first-child {
		padding-left: 1.25rem;
	}
	tr > *:last-child {
		padding-right: 1.25rem;
		text-align: right;
	}
}
