/******************** My Courses Page ********************/

@media (max-width: 600px) {
	td:nth-child(1)::before { content: "Course: " }
	td:nth-child(2)::before { content: "Title: " }
	td:nth-child(3)::before { content: "Meeting: " }
	td:nth-child(4)::before { content: "Professor: " }
	td:nth-child(5)::before { content: "Students: " }
	td:nth-child(6)::before { content: "Options:" }

	.course-options * {
		padding-left: 7px;
	}
}
