/******************** Add Courses Page ********************/

/********** Sidebar Column **********/

#sidebar-col {
	padding: 1rem;
	width: 240px;
	flex-shrink: 0;
	background-color: #F4F4F4;
	box-shadow: 5px 0px 10px 0px rgba(176,176,176,0.1);
}
#sidebar-col > div {
	padding-bottom: 1rem;
}

#apply {
	float: right;
	padding: 0;
	font-size: 1.25rem;
	line-height: 1.1;
}

#days button {
	background-color: white !important;
	border-color: #9ea1a5 !important;
	color: #6c757d;
}
#days button:hover {
	background-color: #b2b8bf !important;
	border-color: #b2b8bf !important;
	color: white;
}
#days button:active,
#days button.active {
	background-color: #6c757d !important;
	border-color: #6c757d !important;
	color: white;
}
/* While this also disables the shadow when selecting the button by tabbing over
to it, which is unfortunate, the shadow when clicking was just too ugly. */
#days button:focus {
	box-shadow: none !important;
}

/********** Rooms Column **********/

#rooms-col {
	padding: 1.3rem;
	flex-grow: 1;

	/* scroll is used instead of auto because we always want the scrollbar to be
	shown in this case. If auto was used there wouldn't be a scrollbar on the
	empty search page but once the user searched for something with enough
	results, a scrollbar would appear and suddenly push the search bar/button
	to the left which doesn't look nice. */
	overflow-y: scroll;
}
/* The max-width is applied to all div children instead of the #courses-col
itself because we want the scrollbar to be all the way to the right. */
#rooms-col > div {
	max-width: 1600px;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
}

#rooms p {
    padding: 1em;
    margin-right: 1em;
    width: 10em;
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 900px) {
	#sidebar-col {
		display: none;
	}
}
