# Python
__pycache__/

# pyenv
.python-version

# mypy
.mypy_cache/

# Django
/django_project/db.sqlite3
/django_project/static/
/django_project/roster_sniper/settings/local.py
/django_project/.emails/

# Keep any folder with a .keep file
!.keep
