# Python
__pycache__/

# mypy
.mypy_cache/

# Django
db.sqlite3

# Once the DB becomes more stable we should start to track migrations
# The initial makemigrations command needs each app to contain a migrations
# python package.
migrations/
!migrations/__init__.py

# User uploaded media is not usually tracked
**/media/profile_pics/*.jpg
