# Python must be 3.8 or higher! (some files uses PEP 572 aka :=)

Django~=4.1.0
django-crispy-forms>=1.14.0

# HTTP library used to download banner course data
requests>=2.28.0

# PostgreSQL Python adapter, Django requires at least 2.5.4
psycopg2-binary>=2.5.4

selenium~=4.6.0
users~=1.0.dev0
djangorestframework~=3.14.0
