# Python must be 3.8 or higher! (some files uses PEP 572 aka :=)

Django~=4.1.0
django-crispy-forms>=1.14.0

# HTTP library used to download banner course data
requests>=2.28.0

# PostgreSQL Python adapter, Django requires at least 2.5.4
psycopg2-binary>=2.5.4

# Branch of Django PWA with Django 4.x support Python adapter
django @ git+https://github.com/PetrDlouhy/django-pwa@6c585fe72041188e32747c1b1bfdb8e53197a508
