{% extends "base/small.html" %}
{% load crispy_forms_tags %}

{% block title %}Login - {% endblock title %}

{% block content %}
<div class="rs-container">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Log In</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Login</button>
		</div>
	</form>
	<div class="border-top pt-2 d-flex flex-wrap small text-muted">
		<div class="mr-auto">
			Need An Account?<a class="ml-2" href="{% url 'register' %}">Sign Up</a>
		</div>
		<div>
			Forgot Your Password?<a class="ml-2" href="{% url 'password_reset' %}">Reset</a>
		</div>
	</div>
</div>
{% endblock content %}
