{% extends "base/small.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile - {% endblock title %}

{% block content %}
<div class="rs-container">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset>
			<legend class="border-bottom mb-4">Your Profile</legend>
			{{ form|crispy }}

			<div class="form-check">
				<hr>
				<p>
					<input type="checkbox" name="sms_notify" class="checkboxinput form-check-input" id="id_sms_notify" value="user.sms_Notify">
					<label for="id_sms_notify" class="form-check-label"> Receive SMS messages </label>
					<br><sub>This enables/disables all sms from this site.</sub>
				</p>
				<hr>
				<p>
					<label for="id_smsNumber"> SMS Number </label>
					<input type="text" name="smsNumber" class="form-control form-control-sm" id="id_smsNumber" placeholder="Your SMS number" value="user.smsNumber">
					<sub></sub>
				</p>
				<hr>
				<p>
					<input type="checkbox" name="timeFormat" class="checkboxinput form-check-input" id="id_timeFormat">
					<label for="id_timeFormat" class="form-check-label"> Use 24hr format.</label>
					<br><sub>This enables/disables the 24 hour time format on the website. By default, it is disabled and uses the 12 hour format.</sub>
				</p>

			</div>
			<hr>
		</fieldset>
		{% if not user.email_confirmed %}
		<p>You must confirm your email to receive notifications. <button id="send_email" type="button" class="btn btn-link p-0 align-baseline">Resend confirmation email</button></p>
		{% endif %}
<!--		Add an if not statement like above, once the database has been updated-->
		<p>You must confirm your SMS Number to receive notifications. <button id="send_sms" type="button" class="btn btn-link p-0 align-baseline">Resend confirmation SMS</button></p>
<!--		Add an endif statement like above, once the database has been updated-->
		<p><a href="{% url 'password_change' %}">Change your password</a></p>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Save</button>
		</div>
	</form>
</div>
{% endblock content %}

{% block foot %}
	<script type="text/javascript">
		$('#id_timeFormat').click(function() {
		var x = $user.military_time;
		console.log(x);
		});

		$('#send_email').click(function() {
			$.get("{% url 'register' %}?send_email=true")
			.done( () => location.reload() ); {# shows "email has been sent" msg #}
		});
<!--add a function to resend sms confirmation, similar to above, once ready.-->
	</script>
{% endblock foot %}
