{% extends "base/base_sm.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile - {% endblock title %}

{% block content %}
<div class="mycontainer">
	<div class="media">
		<div class="media-body">
			<h2>Your Profile</h2>
			<p class="text-secondary">{{ user.email }}</p>
		</div>
		<div style="position: relative;">
			<img class="rounded-circle myactimg" src="{{ user.profile.image.url }}">
			<div class="dropdown" style="position: absolute; right: 15px; bottom: 15px;">
				<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Edit</button>
				<div class="dropdown-menu dropdown-menu-right" >
					<a class="dropdown-item" href="#">Upload a photo</a>
					<a class="dropdown-item" href="#">Remove photo</a>
				</div>
			</div>
		</div>
	</div>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Profile</legend>
			{{ form|crispy }}
		</fieldset>
		{% if not user.email_confirmed %}
		<p>You must confirm your email to receive notifications. <a id="send_email" href="">Resend confirmation email</a></p>
		{% endif %}
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Save</button>
		</div>
	</form>
</div>
{% endblock content %}

{% block foot %}
	<script type="text/javascript">
		$('#send_email').click(function() {
			$.get("{% url 'register' %}?send_email=true");
		});
	</script>
{% endblock foot %}
