{% extends "emails/base.html" %}

{% block content %}
	<div style="font-size: 1.2em; color: #2196F3; font-weight: bold; margin-bottom: 1em;">You're receiving this email because you requested a password reset link.</div>

	<div>
		<a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="background-color: #00704A; border-radius: 50px; color: white; font-size: 14px; font-weight: bold; text-decoration: none; line-height: 40px; width:200px; display: inline-block;">Reset Password</a>
	</div>
{% endblock content %}
