<html>
<body style="font-family: arial, sans; font-size: 1.2em; background-color: #00704A; padding: 1cm 0.5cm;" align="center";>
<div style="padding: 1em; max-width: 600px; background-color: white; border-radius: 5px;">

	<h1><a href="{{ home }}" style="font-style: italic; font-weight: bold; text-decoration: none; color: black;">RosterSniper</a></h1>

	{% block content %}{% endblock %}

	<hr style="margin-top: 16px; height: 2px; border-width: 0; background-color: gray;">
	<div style="font-size: 12px; color: gray; display: inline-block;" align="left">
		{% block footer %}{% endblock %}
	</div>
</div>
</body>
</html>
