0 0 1 * *    $HOME/.pyenv/versions/rostersniper/bin/python $HOME/RosterSniper/django_project/manage.py update terms -v 2 >> $HOME/logs/terms.log 2>&1
0 4 * * *    $HOME/.pyenv/versions/rostersniper/bin/python $HOME/RosterSniper/django_project/manage.py update sections >> $HOME/logs/sections.log 2>&1
*/15 * * * * $HOME/.pyenv/versions/rostersniper/bin/python $HOME/RosterSniper/django_project/manage.py update favorites >> $HOME/logs/favorites.log 2>&1
