{% spaceless %}
{% regroup all_sections by course as grouped_sections %}
{% for course in grouped_sections %}
<div class="card courses-card">
	<div class="card-header">
		<div>{{ course.grouper.short_str }}</div>
		<div>{{ course.grouper.title }}</div>
		<div>{{ course.grouper.get_credit_hours }}</div>
	</div>

	<table class="table">
		<thead><tr>
			<th>Section</th>
			<th>CRN</th>
			<th>Meeting</th>
			<th>Professor</th>
			<th>Seats</th>
			<th>Track</th>
		</tr></thead>
		<tbody class="limit-four">
			{% for section in course.list %}{% with CRN=section.CRN %}
			<tr>
				<td>{{ section.section_num }}</td>
				<td>{{ CRN }}</td>
				<td><span class="meeting" title="{{ section.get_meeting_full }}">{{ section.get_meeting }}</span></td>
				<td>{{ section.get_prof_name }}</td>
				<td>{{ section.enrolled }}/{{ section.capacity }}</td>
				<td><i id="{{ CRN }}" title="Track?" class="{% if CRN in CRNs %}fas{% else %}far{% endif %} fa-star pointer"></i></td>
			</tr>
			{% endwith %}{% endfor %}
		</tbody>
	</table>

	{% if course.list|length > 4 %}
	<div class="card-footer">
		<button class="btn btn-link p-0">Show All ({{ course.list|length }})</button>
	</div>
	{% endif %}
</div>
{% endfor %}
{% endspaceless %}