{% spaceless %}
{% regroup all_sections by course as courses %}
{% for course in courses %}
<div class="card courses-card">
	<div class="card-header">
		<div>{{ course.grouper.short_str }}</div>
		<div>{{ course.grouper.title }}</div>
		<div>{{ course.grouper.get_credit_hours }}</div>
	</div>

	<table class="table">
		<thead><tr>
			<th>Section</th>
			<th>CRN</th>
			<th>Meeting</th>
			<th>Professor</th>
			<th>Seats</th>
			<th class="section-options">Track</th>
		</tr></thead>
		<tbody>
			{% regroup course.list by section_title as related_sections %}
			{% for related_section in related_sections %}
			{% if related_section.grouper != course.grouper.title %}
			<tr class="section-title">
				<td colspan="6">{{ related_section.grouper }}</td>
			</tr>
			{% endif %}
			{% for section in related_section.list %}{% with CRN=section.CRN %}
			<tr>
				<td class="section">{{ section.section_num }}</td>
				<td class="crn">{{ CRN }}</td>
				<td class="meeting"><span title="{{ section.get_meeting_full }}">{{ section.get_meeting }}</span></td>
				<td class="professor">{{ section.get_prof_name }}</td>
				<td class="seats">{{ section.enrolled }}/{{ section.capacity }}</td>
				<td class="section-options favorite">
					<i id="{{ CRN }}" title="Track?" class="{% if CRN in CRNs %}fas{% else %}far{% endif %} fa-star pointer"></i>
				</td>
			</tr>
			{% endwith %}{% endfor %}{% endfor %}
		</tbody>
	</table>
</div>
{% endfor %}
{% endspaceless %}