{% extends "base/regular.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/courses_card.css' %}">

	<script type="text/javascript" src="{% static 'js/my_courses.js' %}" defer></script>
{% endblock %}

{% block title %}Your Courses - {% endblock title %}

{% block content %}
<h2 class="mb-3">Your Courses <span class="badge badge-secondary">{{ favorites|length }}</span></h2>
{% if favorites %}

{% regroup favorites by section.school as favorites_school %}
{% for school in favorites_school %}
<h4 class="mb-3">{{ school.grouper.name }}</h4>

{% regroup school.list by section.term as favorites_term %}
{% for term in favorites_term %}
	<div class="card courses-card" data-term-id="{{ term.grouper.id }}">
		<div class="card-header">{{ term.grouper }}</div>
		<table class="table">
			<thead><tr>
				<th>Course Code</th>
				<th>Title</th>
				<th>Meeting</th>
				<th>Professor</th>
				<th>Seats</th>
				<th class="section-options">Options</th>
			</tr></thead>
			<tbody>
				{% for favorite in term.list %}{% with section=favorite.section %}{% spaceless %}
				<tr id="{{ section.crn }}">
					<td class="section">{{ section.get_code }}</td>
					<td class="title">{{ section.section_title }}</td>
					<td class="meeting"><span class="meeting" title="{{ section.get_meeting_full }}">{{ section.get_meeting }}</span></td>
					<td class="professor">{{ section.get_prof_name }}</td>
					<td class="seats">{{ section.enrolled }}/{{ section.capacity }}</td>
					<td class="section-options options">
						<i data-type="email" title="Emails?" class="{% if favorite.email_notify %}fas{% else %}far{% endif %} fa-envelope-open pointer"></i>
						<i data-type="favorite" title="Untrack?" class="fas fa-star pointer"></i>
					</td>
				</tr>
				{% endspaceless %}{% endwith %}{% endfor %}
			</tbody>
		</table>
	</div>
{% endfor %}
{% endfor %}
{% else %}
Looks like you aren't watching any courses. Head on over to the <a href="{% url 'home' %}">home</a> page, select a school, and start searching! &#128578;
{% endif %}
{% endblock content %}
