{% extends "base.html" %}
{% load static %}

{% block title %}Add Course - {% endblock title %}

{% block content %}
	<h2>Courses</h2>
	{# stackoverflow.com/a/4457905 #}
	<table class="table" style="table-layout: fixed;">
	<colgroup>
		<col style="width: 15%;">
		<col style="width: 20%;">
		<col>
		<col style="width: 22%;">
		<col style="width: 100px;">{# when this was specified as a percent, once the table got too small, the width would be slightly smaller than the width of the title 'Students' and would hang off the edge #}
		<col style="width: 33px;">
	</colgroup>
	<thead class="thead-light">
	<tr class="table-borderless" id="search-parent">
		<td><input id="search-crn" class="form-control form-control-sm" type="text" placeholder="CRN"></td>
		<td><input id="search-code" class="form-control form-control-sm" type="text" placeholder="Code"></td>
		<td><input id="search-title" class="form-control form-control-sm" type="text" placeholder="Title"></td>
		<td><input id="search-professor" class="form-control form-control-sm" type="text" placeholder="Professor"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>CRN</th>
		<th>Code</th>
		<th>Title</th>
		<th style="min-width: 100px;">Professor</th>
		<th class="text-right">Capacity</th>
		<th></th>
	</tr>
	</thead>
	<tbody id="course_rows"></tbody>
	</table>
	<div class="text-center" id="howtosearch" style="padding-top: 0.5cm; display: none;">
		<img width=400px src="{% static 'img/howtosearch.png' %}">
	</div>
	<div class="text-center" id="morebtns" style="padding-bottom: 0.5cm; display: none;">
		<button type="button" class="btn btn-success" onclick="update_courses('more')">Show More</button>
		<button type="button" class="btn btn-success" onclick="update_courses('all')">Show All</button>
	</div>
{% endblock content %}

{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/add_course_favorite.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/add_course.js' %}"></script>

	<style type="text/css">
		table td:nth-child(5) { text-align: right; }
	</style>
{% endblock extrajs %}
