{% if courses %}{% for course in courses %}{% with CRN=course.CRN %}
<tr>
	<td>{{ CRN }}</td>
	<td>{{ course.subject }}-{{ course.number }} {{ course.section }}</td>
	<td>{{ course.title }}</td>
	<td>{{ course.days }}: {{ course.start_time|time:"g:iA"|lower }}-{{ course.end_time|time:"g:iA"|lower }}</td>
	<td>{{ course.professor }}</td>
	<td>{{ course.capacity }}</td>
	<td><span id={{ CRN }} title="Track?" class="{% if CRN in CRNs %}fas{% else %}far{% endif %} fa-star mypointer"></span></td>
</tr>
{% endwith %}{% endfor %}{% endif %}
