{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

	<!-- Copied from Bootstrap starter template -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="https://kit.fontawesome.com/306737d641.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

	{% block head %}{% endblock %}

	<title>{% block title %}{% endblock %}Roster Sniper</title>
</head>

<body>
	<header class="myheader">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #00704a;"><div class="container">
			<a class="navbar-brand" href="{% url 'home' %}"><b><i>RosterSniper</i></b></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarToggle">
			{# figure out a better way to do this.. #}
			<div class="navbar-nav mr-auto">
				{% url 'about' as url %}<a class="nav-item nav-link {% if request.path == url %} active{% endif %}" href="{{ url }}">About</a>
				{% url 'add_course' as url %}<a class="nav-item nav-link {% if request.path == url %} active{% endif %}" href="{{ url }}">Add Course</a>
				{% if user.is_authenticated %}
				{% url 'my_courses' as url %}<a class="nav-item nav-link {% if request.path == url %} active{% endif %}" href="{{ url }}">My Courses</a>
				{% endif %}
			</div>
			<div class="navbar-nav">
				{% if user.is_authenticated %}
				{% url 'profile' as url %}<a class="nav-item nav-link {% if request.path == url %} active{% endif %}" href="{{ url }}">Profile</a>
				{% url 'logout' as url %}<a class="nav-item nav-link {% if request.path == url %} active{% endif %}" href="{{ url }}">Logout</a>
				{% else %}
				{% url 'register' as url %}<a class="nav-item nav-link {% if request.path == url %} active{% endif %}" href="{{ url }}">Register</a>
				{% url 'login' as url %}<a class="nav-item nav-link {% if request.path == url %} active{% endif %}" href="{{ url }}">Login</a>
				{% endif %}
			</div>
			</div>
		</div></nav>
	</header>

	<main role="main" class="container">
		{% block precontent %}{% endblock %}
		{% if messages %}{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
		{% endfor %}{% endif %}
		{% block content %}{% endblock %}
		{% block postcontent %}{% endblock %}
	</main>

	<!-- Copied from Bootstrap starter template -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- integrity -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript">
		logedin = {% if user.is_authenticated %}true{% else %}false{% endif %};
	</script>

	{% block extrajs %}{% endblock %}
</body>
</html>
