{% extends "base.html" %}

{% block title %}Unsubscribe - {% endblock title %}

{% block content %}
	<h1>Unsubscribe</h1>
	<p>You're <span id="subSpan">unsubscribed from</span> {{ text }}.</p>
	<button id="subBtn" type="button" class="btn btn-primary" onclick="subscribe()">Subscribe?</button>
{% endblock content %}

{% block extrajs %}
	<script type="text/javascript">
		subSpan = $('#subSpan');
		subBtn = $('#subBtn');

		function subscribe() {
			if (subBtn.html().charAt(0) == 'S') {
				$.get(window.location.pathname, { subscribe: 'true' });
				subSpan.html('subscribed to');
				subBtn.html('Unsubscribe?');
			} else {
				$.get(window.location.pathname);
				subSpan.html('unsubscribed from');
				subBtn.html('Subscribe?');
			}
		}
	</script>
{% endblock extrajs %}
