
{% extends "base/regular.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
{% endblock %}


{% block title %}Adds school - {% endblock title %}

{% block content %}
<div class="jumbotron">
	<h1 class="display-4 bold italic text-center pb-3">Add your school, help your comrades!</h1>
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">School Details</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-primary  btn-block" type="submit">Submit</button>
		</div>
	</form>
{% endblock content %}



<!--	<div style="justify-content: center;-->
<!--    flex-direction: column;-->
<!--    align-content: space-around; flex-wrap: nowrap;" class="input-group">-->
<!--		<div id="div_id_school_name" class="form-group">-->
<!--			<label for="div_id_school_name" class="">School Name:</label>-->
<!--			<div>-->
<!--				<input type="text" name="school_name" maxlength="150" class="textinput textInput form-control" id="id_school_name">-->
<!--				<small id="hint_id_school_name" class="form-text text-muted">*Required-->
<!--			</small> </div> </div>-->
<!--		</div>-->
<!--<div style="justify-content: center;-->
<!--    flex-direction: column;-->
<!--    align-content: space-around; flex-wrap: nowrap;" class="input-group">-->
<!--		<label for="school_url">Banner URL: </label>-->
<!--		<input type="url" name="school_url" id="school_url"-->
<!--       placeholder="https://ggc.gabest.usg.edu/StudentRegistrationSsb/ssb/"-->
<!--       pattern="https://.*" size="45"-->
<!--       required>-->
<!--		<small id="hint_id_school_url" class="form-text text-muted">*Required-->
<!--			</small>-->
<!--	</div>-->
<!--	<div style="justify-content: center;-->
<!--    flex-direction: column;-->
<!--    align-content: space-around; flex-wrap: nowrap;" class="input-group">-->
<!--	<label for="school_color">School color:</label>-->
<!--  <input type="color" id="school_color" name="school_color" value="#00704a" size="45" style="width: auto;">-->

<!--		</div>-->



