{% extends "base/regular.html" %}

{% block content %}

<style>

    #rs-nav {
        
        background-color: var(--buzz-gold);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    
</style>
<div class="jumbotron">
<!--    <h1 class="display-4 bold italic text-center pb-3">&ldquo;BUT I NEED THAT CLASS!&rdquo;</h1>-->

<!--    <p class="lead">We've been there. Your friends all signed up for classes as soon as registration opened, but you had one more Roblox to blox, one more Minecraft to craft, and one more YouTube to tube. Now you're stuck between a Saturday 7am and a MTWTF 6pm-10pm with none other than Doctor Payne.</p>-->


    <h3 class="display-6 text-center italic pb-2">This is the test page for RosterSniper under The Georgia Institute of Technology!
        
        <br/>
        <br/>We'll be with you very soon!
        <br/> Go Yellow Jackets!
        </h3>

<!--    <p class="lead">No, not by being the responsible adult your mother hoped you would be by this point in your life. What if you could cheat the system? Consider this: <span class="bold">1,337%</span> of students will drop a class before the semester even starts. What if you had <span class="italic">spidey senses&trade;</span> and could detect immediately when the gods give you a second chance?</p>-->

<!--    <p class="lead pb-1">Well there is a way. RosterSniper works by sending you a notification as soon as your class has an open seat. But be speedy, because you're not the only one using our website. Register, verify, and let the race to schedule redemption begin!</p>-->

    <div class="text-center">
    <a class="btn btn-primary btn-lg" href="{% url 'find_school' %}" role="button">Find Your School</a>
	</div>
</div>
<!-- thanks to dinosaursninja#9988 for the divine assistance-->
{% endblock content %}
