{% extends "base/regular.html" %}

{% block content %}

<style>

    #rs-nav {
        
        background-color: var(--buzz-gold);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    
</style>
<div class="jumbotron"

    <h3 class="display-6 text-center italic pb-2">This is the test page for RosterSniper under The Georgia Institute of Technology!</h3>
        
        <br/>
        <br/>We'll be with you very soon!
        <br/> Go Yellow Jackets!
		<br/>
		<br/>
        </h3>


    <div class="text-center">
    <a class="btn btn-primary btn-lg" href="{% url 'find_school' %}" role="button" style="background-color: var(--buzz-gold)">Find Your School</a>
	</div>
</div>

{% endblock content %}
