{% extends "base/regular.html" %}

{% block content %}

<div class="jumbotron ">
    
    <h3 class="display-4 bold italic text-center pb-3">&ldquo;BUT I NEED THAT CLASS!&rdquo;</h3>

	<p class="lead">
    We've all been there. You obviously had other important things to do and you completely forgot to pick your classes!
    <br/>
    <br/>
    Now you're stuck between a Saturday 7am and a MTWTF 6pm-10pm with none other than Doctor Payne.</p>


	<h3 class="display-6 text-center italic pb-2">&ldquo;...but what if there was another way?&rdquo;</h3>

	<p class="lead">No, not by being the responsible adult your mother hoped you would be by this point in your life. What if you could cheat the system? Consider this: <span class="bold">1,337%</span> of students will drop a class before the semester even starts. What if you had <span class="italic">spidey senses&trade;</span> and could detect immediately when the gods give you a second chance?</p>

	<p class="lead pb-1">Well there is a way. RosterSniper works by sending you an email notification as soon as your class has an open seat. But be speedy, because you're not the only one using our website. Register, verify, and let the race to schedule redemption begin!</p>

	<div class="text-center">
    <a class="btn btn-primary btn-lg" href="{% url 'find_school' %}" role="button">Find Your School</a>
	</div>
        
</div>
<!-- thanks to dinosaursninja#9988 for the divine assistance-->
{% endblock content %}
