{% extends "base/regular.html" %}
{% load static %}

{% block content %}
<style>
.center {text-align: center; list-style-position: inside;}
</style>
<div class="jumbotron">
    
    <h1 class="display-3 bold italic text-center pb-3">Welcome to RosterSniper!</h1>


	<h2 class="display-5 text-center italic pb-2"><strike>Squeeze</strike> seize the day!</h2><br/>

	<h3 class="display-6 text-center italic pb-2">Take control of your college experience by picking the classes you want.</h3><br/>
	

	<h4 class="display-7 text-center italic pb-2">RosterSniper works by sending you an email notification as soon as your class has an open seat. But be speedy, because you're not the only one using our website.</h4><br/>
	
	<h4 class="display-7 text-center italic pb-2">Best of all, watch multiple courses for <span style="font-size: 27px;"><font color="0080FF">free</font></span>!</h4><br/>
	
	<h4 class="display-7 text-center italic pb-2">Sign up today and get personalized notifications about course openings with RosterSniper!</h4><br/>

	<div class="text-center">
    <a class="btn btn-primary btn-lg" href="{% url 'find_school' %}" role="button">Find Your School</a>
	</div>
	
	
	<hr/>
	<div class="center">
	<h3 class="display-4 bold italic text-center pb-3">How This Site Works</h3>
	<ol style="font-size:30px">
		<li><a href="{% url 'register' %}">Create</a> an account</li><br/>
		<img src="{% static 'img/about/1_register.png' %}" class="center" style="max-width: 500px; max-height: 450px"><br/><br/>
		<li><a href="{% url 'add_courses' %}">Search</a> for and <span class="far fa-star pointer"></span> a class you <i>really</i> want</li><br/>
		<img src="{% static 'img/about/2_add_courses.png' %}" class="center" style="max-width: 500px; max-height: 450px"><br/><br/>
		<li>Wait for Emails</li><br/>
		<img src="{% static 'img/about/3_email.png' %}" class="center" style="max-width: 500px; max-height: 450px"><br/><br/>
		<li>Adjust Notifications</li><br/>
		<img src="{% static 'img/about/4_notifications.png' %}" class="center" style="max-width: 500px; max-height: 450px"><br/><br/>
	</ol>
	
	<h3 class="display-4 bold italic text-center pb-3">Sign up today!</h3>
	<a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register Now</a>
	</div>

        
</div>
<!-- thanks to dinosaursninja#9988 for the divine assistance-->
{% endblock content %}
