{% extends "base/regular.html" %}

{% block content %}
	{% block school-pre %}
		<p>Please pick a school to continue:</p>
	{% endblock %}
	<div class="d-flex align-items-stretch flex-wrap">
		{% for school in schools %}
		<div class="card school">
			<img src="/static/img/schools/{{ school.short_name }}.jpg" class="card-img-top" alt="{{ school.name }}">
			<div class="card-body">
				<h5 class="card-title">{{ school.name }}</h5>
					{% block school-buttons %}
					<a style="background-color: #{{ school.color_hex }};" href="{% url 'add_courses' school.short_name %}" class="btn btn-primary  btn-block">Add Courses</a>
					<a style="background-color: #{{ school.color_hex }};" href="{% url 'find_rooms' school.short_name %}" class="btn btn-primary btn-block">Room Finder</a>
					{% endblock %}
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}
