{% extends "base/base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/find_rooms.css' %}?4">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}?4">

	<script type="text/javascript" src="{% static 'js/find_rooms.js' %}?10" defer></script>

	<style>
		:root {
			--main-color: {{ school.color_hex }};
		}
	</style>
{% endblock %}

{% block title %}Find Rooms - {% endblock title %}

{% block content %}
<div id="content-wrapper">
	<div id="sidebar-col" class="border-right">
		<div class="h5">
			Options
			<button id="apply" class="btn btn-link" onclick="sidebar(); update_rooms()">Apply</button>
		</div>

		Term
		<div class="input-group">
			<select id="term" class="custom-select custom-select-sm">{% for term in terms %}
				<option value="{{ term.code }}"{% if term.default %} selected{% endif %}>{{ term.description }}</option>{% endfor %}
			</select>
		</div>

		Days
		<div id="days" class="btn-group btn-group-toggle btn-block" data-toggle="button" role="group">
			<button type="button" class="btn btn-sm btn-outline-primary" data-placement="bottom" title="Monday">M</button>
			<button type="button" class="btn btn-sm btn-outline-primary" data-placement="bottom" title="Tuesday">T</button>
			<button type="button" class="btn btn-sm btn-outline-primary" data-placement="bottom" title="Wednesday">W</button>
			<button type="button" class="btn btn-sm btn-outline-primary" data-placement="bottom" title="Thursday">R</button>
			<button type="button" class="btn btn-sm btn-outline-primary" data-placement="bottom" title="Friday">F</button>
			<button type="button" class="btn btn-sm btn-outline-primary" data-placement="bottom" title="Saturday">S</button>
		</div>

		Time Range
		<br class="input-group">
			<label for="timeStart" style="font-size: 13px; font-style: italic;">Time Start </label>
			<input id="timeStart" type="time" timmeformat="auto"> <!--<p>Start Time</p>-->
			<br>
			<label for="timeEnd" style="font-size: 13px; font-style: italic;">End Time</label>
			<input id="timeEnd" type="time" id="timeEnd" timeformat="auto"> <!--<p>End Time</p>-->
			<br>
		</div>




	<div id="overlay" onclick="sidebar()"></div>
	<div id="results-col">
		<div>
			<button id="open-sidebar-btn" class="btn btn-primary mb-2 mr-2" type="button" onclick="sidebar()"><i class="fas fa-sliders-h"></i></button>
			<span class="h4">Find Rooms</span>
		</div>
		<p id="num-of-rooms">Search for rooms that have no scheduled meetings during the specified time.</p>
		<div id="rooms"></div>
	</div>
</div>
{% endblock content %}


